In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import grangercausalitytests
import statsmodels.api as sm
import warnings

# This will suppress ALL FutureWarning messages
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=pd.errors.SettingWithCopyWarning)
from Functions import read_data, load_additional_data, extract_granger_results, granger_results, granger_effect_direction

In [7]:
import glob
folder_path = "Additional Data/*.csv"
files = glob.glob(folder_path)
data_df = read_data()
data_df = load_additional_data(data_df, files)
cov_matrix = data_df.cov()
corr_matrix = data_df.corr()

Additional Data\Auto Inventory Sales Ratio - SA.csv
Additional Data\CUSR0000SETA02.csv
Additional Data\CUUR0000SETA01.csv
Additional Data\DAUTOSA (1).csv
Additional Data\Domestic Auto Production - SA.csv
Additional Data\Domestic Auto Sales- SAAR.csv
Additional Data\FEDFUNDS.csv
Additional Data\Foreign Auto Sales - SA.csv
Additional Data\Manufacturers New Order Vehicles and Parts - SA.csv
Additional Data\Natural Gas Consumption - SA.csv
Additional Data\Natural Gas Conventional Price.csv
Additional Data\Public Transit Ridership.csv
Additional Data\TERMCBAUTO48NS.csv
Additional Data\UMCSENT.csv
Additional Data\Vehicle Miles Traveled.csv

In [9]:
df_diff = data_df.diff().dropna()
display(df_diff.head())

,Total Sales,New Orders,AISRSA,CPI_Used,CPI_NewVehicle,DAUTOSA,DAUPSA,DAUTOSAAR,FEDFUNDS,FAUTOSA,AMVPNO,GASREGCOVM,NATURALGASD11,TRANSIT,TERMCBAUTO48NS,UMCSENT,VMT
DATE,,,,,,,,,,,,,,,,,
2000-02-01,0.766,-3860.0,-0.168,-0.9,-0.3,18.2,-8.1,0.219,0.28,3.4,-3860.0,0.092,29.7,31602.0,0.00,-0.7,-4181.0
2000-03-01,-1.058,941.0,0.148,0.0,0.3,-41.7,1.1,-0.501,0.12,-7.9,941.0,0.127,-120.2,87194.0,0.00,-4.2,33229.0
2000-04-01,-0.404,-105.0,0.070,1.0,0.2,-10.7,13.1,-0.129,0.17,5.1,-105.0,-0.061,120.3,-86272.0,0.00,2.1,-4792.0
2000-05-01,0.004,-1914.0,0.012,1.4,-0.2,-2.5,5.8,-0.030,0.25,0.3,-1914.0,0.019,129.8,60788.0,0.34,1.5,14803.0
2000-06-01,-0.347,1185.0,0.085,0.3,-0.4,-10.2,-17.2,-0.122,0.26,-0.2,1185.0,0.156,-89.7,-24335.0,0.00,-4.3,462.0

Granger Casuality

In [10]:
granger_data = df_diff[['New Orders', 'NATURALGASD11']]

result_cols = ['Total Sales', 'New Orders']
exog_cols = [col for col in df_diff.columns if col not in result_cols]

granger_results = []
for result_col in result_cols:
    for exog_col in exog_cols:
        granger_data =df_diff[[result_col, exog_col]]
        granger_results += extract_granger_results(granger_data, 5)

granger_results_df = pd.DataFrame(granger_results)
display(granger_results_df[granger_results_df['decision']=='Reject H0 (Granger Causality)'])

          result       exog  lag       p_value                       decision
15   Total Sales    DAUTOSA    1  4.559607e-02  Reject H0 (Granger Causality)
16   Total Sales    DAUTOSA    2  4.207102e-02  Reject H0 (Granger Causality)
17   Total Sales    DAUTOSA    3  3.040235e-02  Reject H0 (Granger Causality)
18   Total Sales    DAUTOSA    4  4.615245e-02  Reject H0 (Granger Causality)
19   Total Sales    DAUTOSA    5  3.248113e-02  Reject H0 (Granger Causality)
25   Total Sales  DAUTOSAAR    1  4.535178e-02  Reject H0 (Granger Causality)
26   Total Sales  DAUTOSAAR    2  4.195274e-02  Reject H0 (Granger Causality)
27   Total Sales  DAUTOSAAR    3  3.012235e-02  Reject H0 (Granger Causality)
28   Total Sales  DAUTOSAAR    4  4.597130e-02  Reject H0 (Granger Causality)
29   Total Sales  DAUTOSAAR    5  3.235682e-02  Reject H0 (Granger Causality)
75    New Orders     AISRSA    1  1.940678e-10  Reject H0 (Granger Causality)
76    New Orders     AISRSA    2  5.863373e-08  Reject H0 (Granger Causality)
77    New Orders     AISRSA    3  4.471005e-07  Reject H0 (Granger Causality)
78    New Orders     AISRSA    4  9.110099e-07  Reject H0 (Granger Causality)
79    New Orders     AISRSA    5  2.647404e-06  Reject H0 (Granger Causality)
90    New Orders    DAUTOSA    1  6.002756e-03  Reject H0 (Granger Causality)
91    New Orders    DAUTOSA    2  1.496385e-02  Reject H0 (Granger Causality)
92    New Orders    DAUTOSA    3  2.200202e-02  Reject H0 (Granger Causality)
93    New Orders    DAUTOSA    4  3.230520e-02  Reject H0 (Granger Causality)
96    New Orders     DAUPSA    2  3.949830e-02  Reject H0 (Granger Causality)
97    New Orders     DAUPSA    3  2.593460e-02  Reject H0 (Granger Causality)
99    New Orders     DAUPSA    5  3.000995e-02  Reject H0 (Granger Causality)
100   New Orders  DAUTOSAAR    1  6.027115e-03  Reject H0 (Granger Causality)
101   New Orders  DAUTOSAAR    2  1.503514e-02  Reject H0 (Granger Causality)
102   New Orders  DAUTOSAAR    3  2.208463e-02  Reject H0 (Granger Causality)
103   New Orders  DAUTOSAAR    4  3.243434e-02  Reject H0 (Granger Causality)
105   New Orders   FEDFUNDS    1  2.499514e-03  Reject H0 (Granger Causality)
106   New Orders   FEDFUNDS    2  3.493062e-10  Reject H0 (Granger Causality)
107   New Orders   FEDFUNDS    3  9.258635e-10  Reject H0 (Granger Causality)
108   New Orders   FEDFUNDS    4  2.562841e-09  Reject H0 (Granger Causality)
109   New Orders   FEDFUNDS    5  2.786642e-09  Reject H0 (Granger Causality)
110   New Orders    FAUTOSA    1  3.098058e-02  Reject H0 (Granger Causality)
131   New Orders    TRANSIT    2  1.139008e-02  Reject H0 (Granger Causality)
132   New Orders    TRANSIT    3  2.503688e-04  Reject H0 (Granger Causality)
133   New Orders    TRANSIT    4  9.016448e-04  Reject H0 (Granger Causality)
134   New Orders    TRANSIT    5  1.608362e-03  Reject H0 (Granger Causality)

In [12]:
causal_df =  granger_results_df[granger_results_df['decision'] == 'Reject H0 (Granger Causality)']
causal_pairs = list(zip(causal_df['exog'],causal_df['result'], causal_df['lag']))
causal_df = granger_effect_direction(df_diff, causal_pairs)
display(causal_df)

            X            Y  lag                      coef direction
0     DAUTOSA  Total Sales    1   [-0.007321321700016044]  negative
1     DAUTOSA  Total Sales    2   [-0.004937097273083017]  negative
2     DAUTOSA  Total Sales    3  [-0.0010389830376012436]  negative
3     DAUTOSA  Total Sales    4    [0.000242936972431301]  positive
4     DAUTOSA  Total Sales    5   [0.0024323460925593787]  positive
5   DAUTOSAAR  Total Sales    1     [-0.6103332769695264]  negative
6   DAUTOSAAR  Total Sales    2    [-0.41142309358629575]  negative
7   DAUTOSAAR  Total Sales    3    [-0.08675261588703909]  negative
8   DAUTOSAAR  Total Sales    4    [0.020989658107877857]  positive
9   DAUTOSAAR  Total Sales    5     [0.20238680159636135]  positive
10     AISRSA   New Orders    1      [-4256.513114790318]  negative
11     AISRSA   New Orders    2       [995.3210494539578]  positive
12     AISRSA   New Orders    3      [2128.4381316049926]  positive
13     AISRSA   New Orders    4       [878.8095044434415]  positive
14     AISRSA   New Orders    5      [127.24928191164425]  positive
15    DAUTOSA   New Orders    1      [16.630980698639032]  positive
16    DAUTOSA   New Orders    2     [-3.8872949686205764]  negative
17    DAUTOSA   New Orders    3      [-7.065580518361283]  negative
18    DAUTOSA   New Orders    4      [-5.110965852390705]  negative
19     DAUPSA   New Orders    2     [-19.061133074895235]  negative
20     DAUPSA   New Orders    3     [-25.649791105100245]  negative
21     DAUPSA   New Orders    5     [-2.0520935187817844]  negative
22  DAUTOSAAR   New Orders    1        [1385.43971096424]  positive
23  DAUTOSAAR   New Orders    2     [-323.71189895247716]  negative
24  DAUTOSAAR   New Orders    3       [-589.138511943995]  negative
25  DAUTOSAAR   New Orders    4     [-425.66459470550643]  negative
26   FEDFUNDS   New Orders    1      [2802.2667564301446]  positive
27   FEDFUNDS   New Orders    2     [-1730.4061611976365]  negative
28   FEDFUNDS   New Orders    3     [-2177.4384558077254]  negative
29   FEDFUNDS   New Orders    4      [164.71920220251758]  positive
30   FEDFUNDS   New Orders    5       [1552.517743806776]  positive
31    FAUTOSA   New Orders    1       [35.55391103585143]  positive
32    TRANSIT   New Orders    2   [-0.011313573725289131]  negative
33    TRANSIT   New Orders    3   [-0.011961623377223377]  negative
34    TRANSIT   New Orders    4  [-0.0006503790697814199]  negative
35    TRANSIT   New Orders    5   [0.0012146355696795585]  positive