Name: Ranjani Ravindrabharathy

This file contains the Data Summary table code of all the Datasets we used in our report. All the datasets can be found in the Additional Data Folder in the Zip File.

In [6]:
import pandas as pd

BASE_PATH = "/Users/ranjaniravib/Documents/GT ISYE 6402/"

def load_series(filename):
    path = BASE_PATH + filename
    df = pd.read_csv(path)
    date_col = [c for c in df.columns if "DATE" in c.upper()][0]
    val_col = [c for c in df.columns if c != date_col][0]
    df[date_col] = pd.to_datetime(df[date_col])
    df = df.sort_values(date_col)
    df = df[[date_col, val_col]].dropna()
    df = df.set_index(date_col)
    return df[val_col]

paths = {
    "TOTALSA": "TOTALSA (1).csv",
    "AMVPNO": "AMVPNO (1).csv",
    "AISRSA": "AISRSA (1).csv",
    "GASREGCOVM": "GASREGCOVM (2).csv",
    "CPIAUCSL": "CPIAUCSL (1).csv",
    "FEDFUNDS": "FEDFUNDS.csv",
    "DAUTOSA": "DAUTOSA.csv",
    "FAUTOSA": "FAUTOSA.csv"
}

rows = []

for name, fname in paths.items():
    s = load_series(fname)
    rows.append({
        "Series": name,
        "Start": s.index.min().date(),
        "End": s.index.max().date(),
        "Obs": len(s),
        "Mean": round(s.mean(), 4),
        "Std Dev": round(s.std(), 4),
        "Min": round(s.min(), 4),
        "Max": round(s.max(), 4)
    })

summary_df = pd.DataFrame(rows)
summary_df

,Series,Start,End,Obs,Mean,Std Dev,Min,Max
0,TOTALSA,2000-01-01,2024-01-01,289,15.9614,2.2423,8.919,22.055
1,AMVPNO,2000-01-01,2024-01-01,289,45445.1073,10059.8573,19361.000,66687.000
2,AISRSA,2000-01-01,2024-01-01,289,2.3107,0.6994,0.418,4.643
3,GASREGCOVM,2000-01-01,2024-01-01,289,2.5480,0.7717,1.072,4.764
4,CPIAUCSL,2000-01-01,2024-01-01,289,226.7169,35.0955,169.300,309.794
5,FEDFUNDS,2000-01-01,2024-01-01,289,1.7975,1.9582,0.050,6.540
6,DAUTOSA,2000-01-01,2024-01-01,289,381.4687,111.1505,119.437,658.900
7,FAUTOSA,2000-01-01,2024-01-01,289,148.4238,43.9603,40.512,235.100